<div class="navbar m-4">
  <div class="logo d-flex align-items-center">
    <img src="../../../assets/img/logo.png" alt="logo" width="70" />
    <div class="logo-text text-center ms-4">
      <span class="text-primary">Stay Safe!</span>
      <p>Find shelters close to you</p>
    </div>
  </div>
  <div class="nav-items float-end">
    <a class="me-3" routerLinkActive="fw-bold" routerLink="/home">Home</a>
    <a routerLinkActive="fw-bold" routerLink="/add-shelter">Add a shelter</a>
  </div>
</div>
